<% include layout/header %>

<div class="main">
  <% include layout/nav %>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>One Belt, One Road</h1>
      <p>Thoughts, stories and ideas.</p>
      <p><a class="btn btn-primary btn-lg" href="postAdd" role="button">写文章</a></p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">站点内容统计：</h3>
          </div>
          <ul id="ul1" class="list-group">

          </ul>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<% include layout/aside %>
<% include layout/footer %>
<script id="tmp" type="text/html">
  <li class="list-group-item"><strong>{{  data[0][0]['count(*)']}}</strong>篇文章（<strong>{{  data[3][0]['count(*)']}}</strong>篇草稿）</li>
  <li class="list-group-item"><strong>{{  data[1][0]['count(*)']}}</strong>个分类</li>
  <li class="list-group-item"><strong>{{  data[2][0]['count(*)']}}</strong>条评论（<strong>{{  data[4][0]['count(*)']}}</strong>条待审核）</li>
</script>
<script>
  //页面加载动态渲染统计数据
  function getData() {
    //发送异步请求
    $.ajax({
      url: '/getIndexData',
      type: 'GET',
      success: function (res) {
        let html = template('tmp', res)
        $('#ul1').html(html);
      }
    });
  };
  getData()
</script>