<% include layout/header %>

<div class="main">
  <% include layout/nav %>
  <div class="container-fluid">
    <div class="page-title">
      <h1>修改密码</h1>
    </div>
    <!-- 有错误信息时展示 -->
    <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
    <form id="form" class="form-horizontal">
      <div class="form-group">
        <label for="old" class="col-sm-3 control-label">旧密码</label>
        <div class="col-sm-7">
          <input id="old" name="old" class="form-control" type="password" placeholder="旧密码">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">新密码</label>
        <div class="col-sm-7">
          <input id="password" name="password" class="form-control" type="password" placeholder="新密码">
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
        <div class="col-sm-7">
          <input id="confirm" name="confirm" class="form-control" type="password" placeholder="确认新密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button id="setPassword" type="submit" class="btn btn-primary">修改密码</button>
        </div>
      </div>
    </form>
  </div>
</div>

<% include layout/aside %>
<% include layout/footer %>
<script>
  //给修改密码注册事件
  $('#setPassword').click(function (event) {
    //阻止默认事件
    event.preventDefault();
    //获取表单数据
    let params = $('#form').serialize();
    // 判断新密码和确认密码是否一致
    if ($("#password").val().trim() !== $("#confirm").val().trim()) {
      alert('新密码和确认密码不一致,请重新输入!');
       //清空输入框
      $('#form')[0].reset();
      return
    };
    //发送异步请求
    $.ajax({
      url: '/setPassword',
      type: 'POST',
      data: params,
      success: function (res) {
        let { status, msg } = res;
        if (status === 200) {
          alert(msg);
          //跳转到登录页面
          window.location = "/login";
        } else {
          alert(msg);
          //清空输入框
          $('#form')[0].reset();
        };
      }
    });
  });
</script>